body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    height: 400px;
    margin: 20px;
}

.container_login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 600px;
    margin: 5vh 0 5vh 0;
}

.form-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    margin: 2vh 0 0 0;
}

.form-container form p {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-container form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-container form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-container form button {
    background-color: #004999;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 2vh 0 0 0;
}

.form-container form button:hover {
    background-color: #003366;
}

/**************************************************** POPUP ****************************************************/

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1050; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 2rem;
    width: 90%;
    max-width: 500px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.popup-content form {
    display: flex;
    flex-direction: column;
    margin: 1vh 0 1vh 0;
}

form label,textarea{
    margin-bottom: 1vh;
}

form button{
    margin-top: 1vh;
}

.popup .close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.popup.show {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}