<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ profile.first_name }} {{ profile.last_name }}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/employee_detail.css' %}">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/">Accueil</a></li>
                        <li class="nav-item"><a class="nav-link" href="#home">Equipe</a></li>
                        <li class="nav-item"><a class="nav-link" href="#projects">Projets</a></li>
                        <li class="nav-item"><a class="nav-link" href="#seminar">Seminaire</a></li>
                        <li class="nav-item"><a class="nav-link" href="#publication">Publications</a></li>
                        <li class="nav-item"><a class="nav-link" href="#manifestations_scientifiques">Animation Scientifique</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'archives' %}">Archive</a></li>
                    </ul>
                    {% if user.is_authenticated %}
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Se Déconnecter</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </nav>

        {% load static %}
        <div class="container_publication">
            <div class="content">
                <div class="sidebar">
                    <aside>
                        <div class="restaurant-info">
                            <div class="stacks">
                                <div id="boutons">
                                    <ul class="nav-links">
                                        <li><a href="#static-section" onclick="choisirOngletStatique()" class="bouton-onglet">Journal</a></li>
                                        {% for section in sections %}
                                            {% if section.name != 'Journal' %}
                                                <li>
                                                    <a href="#section{{ forloop.counter }}" onclick="choisirOnglet({{ forloop.counter }})" class="bouton-onglet">{{ section.name }}</a>
                                                    {% if user.is_authenticated and user == profile.user %}
                                                        <button class="btn btn-primary" data-section-id="{{ section.id }}">Supprimer</button>
                                                    {% endif %}
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if user.is_authenticated and user == profile.user %}
                                            <button class="btn btn-success" id="add-section-button" data-add-section-url="{% url 'add_section' %}">Ajouter une section</button>
                                        {% endif %}
                                    </ul>
                                    <div class="trait-noir"></div>
                                </div>
                            </div>  
                        </div>
                    </aside>
                </div>
                <section id="static-section">
                    <div class="container">
                        <div class="left-content">
                            <div class="profile-name">
                                <span id="first_name-text">{{ profile.first_name }}</span>
                                <span id="last_name-text">{{ profile.last_name }}</span>
                                {% if user.is_authenticated and user == profile.user %}
                                    <button class="btn btn-primary" id="edit-first_name">Modifier Prénom</button>
                                    <button class="btn btn-success" id="save-first_name" style="display: none;">Save</button>
                                    <button class="btn btn-primary" id="edit-last_name">Modifier Nom</button>
                                    <button class="btn btn-success" id="save-last_name" style="display: none;">Save</button>
                                {% endif %}
                            </div>
                            <div class="profile-info">
                                <p>Email: <span id="email-text">{{ profile.user.email }}</span></p>
                                {% if user.is_authenticated and user == profile.user %}
                                    <button class="btn btn-primary" id="edit-email">Modifier Email</button>
                                    <button class="btn btn-success" id="save-email" style="display: none;">Save</button>
                                {% endif %}
                            </div>
                            <div class="info-separator"></div>
                            <div class="profile-info">
                                <p>Bio: <span id="bio-text">{{ profile.bio }}</span></p>
                                {% if user.is_authenticated and user == profile.user %}
                                    <button class="btn btn-primary" id="edit-bio">Modifier Bio</button>
                                    <button class="btn btn-success" id="save-bio" style="display: none;">Save</button>
                                {% endif %}
                            </div>
                            <div class="info-separator"></div>
                            <div class="profile-info">
                                <p>Département: <span id="department-text">{{ profile.department }}</span></p>
                                {% if user.is_authenticated and user == profile.user %}
                                    <button class="btn btn-primary" id="edit-department">Modifier Département</button>
                                    <button class="btn btn-success" id="save-department" style="display: none;">Save</button>
                                {% endif %}
                            </div>
                            <div class="info-separator"></div>
                        </div>
                
                        <div class="right-content">
                            <p>Photo de profil :</p>
                            {% if profile.profile_pic %}
                                <img id="profile-pic-img" src="{{ profile.profile_pic.url }}" alt="{{ profile.first_name }}'s Profile Picture" class="profile-pic">
                            {% else %}
                                <p>Aucune photo de profil disponible</p>
                            {% endif %}
                            {% if user.is_authenticated and user == profile.user %}
                                <button class="btn btn-primary" id="edit-profile-pic">Modifier <i class="fas fa-pencil-alt"></i></button>
                                <input type="file" id="profile-pic-input" accept="image/*" style="display: none;">
                                <button class="btn btn-success" id="save-profile-pic" style="display: none;">Enregistrer</button>
                            {% endif %}
                        </div>
                    </div>
                </section>
                <div class="custom-container">
                    {% for section in sections %}
                        <section id="section{{ forloop.counter }}" {% if not forloop.first %}style="display:none"{% endif %}>
                            <h2>{{ section.name }}</h2>
                            <div class="section-content">
                                {% for user_module in section.usermodules.all %}
                                    {% with module=user_module %}
                                        <div class="module {{ module.module_type.name }}" id="module{{ module.id }}">
                                            {% if module.module_type.name == 'image' %}
                                                {% if module.image_path %}
                                                    <img src="{{ module.image_path.url }}" alt="Image">
                                                {% else %}
                                                    <p>Aucune image ajoutée</p>
                                                {% endif %}
                                                
                                            {% elif module.module_type.name == 'pdf' %}
                                                {% if module.pdf_file %}
                                                    <div class="pdf-preview">
                                                        <p>Prévisualisation du PDF</p>
                                                    </div>
                                                    <a href="{{ module.pdf_file.url }}" class="btn btn-download">Télécharger le PDF</a>
                                                {% else %}
                                                    <p>Aucun PDF ajouté</p>
                                                {% endif %}
                                                
                                            {% elif module.module_type.name == 'text_title' %}
                                                <h3>{% if module.title %}{{ module.title }}{% else %}Aucun titre{% endif %}</h3>
                                                <p>{% if module.text_content %}{{ module.text_content }}{% else %}Aucune information encore ajoutée{% endif %}</p>
                                            {% endif %}
                                            
                                            {% if user.is_authenticated and user == profile.user %}
                                                <button class="edit-button btn" data-id="{{ module.id }}" data-edit-url="{% url 'edit_module_content' %}">Modifier</button>
                                                <button class="delete-button btn" data-id="{{ module.id }}" data-delete-url="{% url 'delete_module' %}">Supprimer</button>
                                            {% endif %}
                                        </div>
                                    {% endwith %}
                                {% endfor %}
                            </div>
                            
                            {% if user.is_authenticated and user == profile.user %}
                                <button class="btn btn-success" id="show-add-module-form">Ajouter un module</button>
                            {% endif %}
                        </section>
                    {% endfor %}
                </div>    
                    
                    <div id="add-module-form-container" class="popup" style="display: none;">
                        <div class="popup-content">
                            <form id="add-module-form" data-add-module-url="{% url 'add_module' slug=profile.slug %}">
                                {% csrf_token %}
                                <label for="section-select">Choisir une section :</label>
                                <select id="section-select" name="section_id">
                                    {% for section in sections %}
                                        <option value="{{ section.id }}">{{ section.name }}</option>
                                    {% endfor %}
                                </select>
                        
                                <label for="module-select">Choisir un module à ajouter :</label>
                                <select id="module-select" name="module_id">
                                    {% for module_type in module_types %}
                                        <option value="{{ module_type.id }}"
                                            {% if module_type.name == selected_module_type_name %}
                                                selected
                                            {% endif %}
                                        >{{ module_type.name }}</option>
                                    {% endfor %}
                                </select>
                        
                                <button type="button" id="add-module-button">Ajouter un module</button>
                                <button type="button" id="hide-add-module-form">Annuler</button>
                            </form>
                        </div>
                    </div>

                    <div id="editModuleModal" class="popup" style="display: none;">
                        <div class="popup-content">
                            <span class="close" onclick="closeEditModals()">&times;</span>
                            <h2>Modifier le Module</h2>
                            <form id="editModuleForm" method="post" enctype="multipart/form-data" onsubmit="submitEditModule(event)">
                                {% csrf_token %}
                                <input type="hidden" id="edit_module_id" name="module_id">
                                <div id="editImageModuleSection" style="display: none;">
                                    <label for="edit_image_file">Télécharger une nouvelle image :</label>
                                    <input type="file" id="edit_image_file" name="new_image" accept="image/*">
                                    <img id="preview_image" style="display:none; max-width:200px;"/>
                                </div>
                                <div id="editPdfModuleSection" style="display: none;">
                                    <label for="edit_pdf_file">Télécharger un nouveau PDF :</label>
                                    <input type="file" id="edit_pdf_file" name="new_pdf" accept="application/pdf">
                                </div>
                                <div id="editTextWithTitleModuleSection" style="display: none;">
                                    <label for="edit_text_title">Titre :</label>
                                    <input type="text" id="edit_text_title" name="new_title">
                                    <label for="edit_text_with_title_content">Contenu :</label>
                                    <textarea id="edit_text_with_title_content" name="new_content"></textarea>
                                </div>
                                <button type="submit">Modifier</button>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div> 
        
        <footer class="main-footer bg-dark text-light py-4">
            <div class="footer-container">
                <div class="row main-footer__upper d-flex justify-content-between">
                    <div class="col-md-4 main-footer__row">
                        <h2 class="heading-sm text-light">Universite Paris 8</h2>
                        <ul class="footer-menu list-unstyled">
                            <li><a href="http://127.0.0.1:8000/" class="footer-link">Accueil</a></li>
                            <li><a href="#home" class="footer-link">Equipe</a></li>
                            <li><a href="#projects" class="footer-link">Projets</a></li>
                            <li><a href="#seminar" class="footer-link">Seminaire</a></li>
                            <li><a href="#publication" class="footer-link">Publications</a></li>
                            <li><a href="#manifestations_scientifiques" class="footer-link">Animation Scientifique</a></li>
                            <li><a href="{% url 'archives' %}" class="footer-link">Archive</a></li>
                        </ul>
                    </div>
        
                    <div class="col-md-4 text-md-end">
                        <h2 class="heading-sm text-light">Social</h2>
                        <div class="main-footer__social-cont d-flex justify-content-md-end gap-3">
                            <a href="https://www.linkedin.com" target="_blank" class="social-link text-light">
                                <i class="fab fa-linkedin fa-lg"></i>
                            </a>
                            <a href="https://twitter.com" target="_blank" class="social-link text-light">
                                <i class="fab fa-twitter fa-lg"></i>
                            </a>
                            <a href="https://instagram.com" target="_blank" class="social-link text-light">
                                <i class="fab fa-instagram fa-lg"></i>
                            </a>
                            <a href="https://facebook.com" target="_blank" class="social-link text-light">
                                <i class="fab fa-facebook fa-lg"></i>
                            </a>
                            <a href="https://vimeo.com" target="_blank" class="social-link text-light">
                                <i class="fab fa-vimeo fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
        
                <div class="main-footer__lower d-flex flex-column align-items-center mt-4">
                    <div class="d-flex flex-wrap justify-content-center mb-2">
                        <a href="#CGU" class="footer-link mx-2">Credit</a>
                        <a href="#CGV" class="footer-link mx-2">Accessibilite</a>
                        <a href="#Politique" class="footer-link mx-2">Politique de confidentialité</a>
                        <a href="#Mentions" class="footer-link mx-2">Mentions légales</a>
                    </div>
                    <div>
                        © <script>document.write(new Date().getFullYear())</script> Universite Paris 8, Tous droits réservés
                    </div>
                </div>
            </div>
        </footer> 
        
        <script src="../../static/js/edit_info_employes.js"></script>
        <script src="../../static/js/sidebar_employees.js"></script>
        <script src="../../static/js/edit_module.js"></script>
    </body>
</html>
