<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Accès restreint</title>
</head>
<body>
    <h2>Cette page est protégée par un mot de passe</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="password">Mot de passe :</label>
        <input type="password" name="password" required>
        <button type="submit">Soumettre</button>
    </form>
</body>
</html>
