<!DOCTYPE html>
<html>
    <head>
        <title>Inscription</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
        <link rel="stylesheet" href="../../static/css/footer.css">
        <link rel="stylesheet" href="../../static/css/form_register.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="form-container">
            <h2>Inscription</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">S'inscrire</button>
                <p>
                    <a href="#" id="add-service-link" class="blue-underline">Vous ne trouvez pas votre service ?</a>
                </p>
                
            </form>
            <div id="add-service-popup" class="popup" style="display: none;">
                <div class="popup-content">
                    <span class="close" onclick="closeAddServicePopup()">&times;</span>
                    <h2>Ajoutez votre service</h2>
                    <form id="add-service-form" method="post">
                        {% csrf_token %}
                        <label for="service-name">Nom du service :</label>
                        <input type="text" id="service-name" name="name" required><br>
                        <button type="submit" onclick="submitAddService(event)">Ajouter</button>
                        <button type="button" onclick="closeAddServicePopup()">Annuler</button>
                    </form>
                </div>
            </div>              
        </div>
        <script src="../../static/js/popup_register.js"></script>
    </body>
</html>
